body {
    min-height: 100vh;
}
#database {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 70%;
    border-collapse: collapse;
}
.title_database {
    width: 500px;
    color: #333;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    border: 1px solid #bbbfbf;
    padding: 7px 14px 6px;
    background-color: #f0f2f2;
}
.data_color_one {
    background-color: white;
    width: 500px;
    color: #333;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    border: 1px solid #bbbfbf;
    padding: 7px 14px 6px;
}
.darktheme {
    background-color: black;
}
